@media all and (min-width: 320px) {
  .detailMenuWrapper {
    width: 100%;
    height: 7vh;
    background-color: #303243;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.9rem;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 1rem;
    .detailItem {
      cursor: pointer;
      transition: 0.3s all ease;
    }
    .detailItem:hover {
      color: #646ecb;
    }
  }
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1024px) {
  .detailMenuWrapper {
    width: 100%;
    height: 7vh;
    background-color: #303243;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.9rem;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 1rem;
    .detailItem {
      cursor: pointer;
    }
  }
  // .detailContentWrapper{
  //   width : 100%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-direction: column;
  //   .detailContentTitle{
  //     font-size: 10rem;
  //     border : 1px solid red;
  //   }
  // }
}
