// start common
.logoImg {
  display: block;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

// end common

// start mobile
@media all and (min-width: 320px) {
  .logoImg {
    width: 2rem;
  }
}
// end mobile

// start tablet
@media all and (min-width: 768px) {
  .logoImg {
  }
}
// end tablet

// start desktop
@media all and (min-width: 1024px) {
  .logoImg {
    width: 4rem;
  }
}
// end desktop
