// start common
.footerWrapper {
  width: 100%;
  background-color: #303243;
  display: flex;
  // position: fixed;
  // z-index: 1000;
  // bottom: 0;
  font-family: 'footerFont';
}
// end common

// start mobile
@media all and (min-width: 320px) and (max-width: 768px) {
  .footerWrapper {
    width: 100%;
    height: 8rem;
    .footerLogoWrapper {
      color: #ffffff;
      font-size: 0.4rem;
      width: 60%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 0.7rem;
      font-weight: 800;
      .footerLogoText {
        margin-left: 0.8rem;
        line-height: 140%;
      }
    }
    .footerContents {
      width: 40%;
      display: flex;
      align-items: flex-start;
      //margin-top: 0.2rem;
      .contentsItem {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        .footerItem {
          margin-right: 0.5rem;
          color: #ffffff;
          .infoTitle {
            font-weight: 800;
            font-size: 0.01rem;
          }
          .infoTitleDes {
            color: #ffffff;
            font-size: 0.005rem;
          }
        }
      }
    }
  }
  .footerCopy {
    width: 100%;
    height: 3vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.1rem;
    color: gray;
    background-color: #303243;
    padding-bottom: 0.5rem;
    .businCopy {
      margin-top: 0.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      color: gray;
      background-color: #303243;
      text-align: center;
      display: block;
      font-size: 0.1rem;
    }
  }
}
// end mobile

// start tablet
@media all and (min-width: 768px) and (max-width: 1024px) {
  .footerWrapper {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: stretch;
    .footerLogoWrapper {
      color: #ffffff;
      font-size: 1rem;
      width: 35%;
      display: flex;
      align-items: flex-start;
      margin-top: 0.5rem;
      margin-left: 1.5rem;
      font-weight: 800;
      line-height: 120%;
    }
    .footerContents {
      width: 65%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      margin-top: 0.5rem;
      .contentsItem {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        .footerItem {
          margin-right: 0.5rem;
          color: #ffffff;
          .infoTitle {
            font-weight: 800;
          }
          .infoTitleDes {
            color: #ffffff;
            font-size: 0.005rem;
          }
        }
      }
    }
  }

  .footerCopy {
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.4rem;
    color: gray;
    background-color: #303243;
    padding-bottom: 0.5rem;
    .businCopy {
      width: 100%;
      margin-top: 0.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      color: gray;
      background-color: #303243;
      text-align: center;
    }
  }
}
// end tablet

// start desktop
@media all and (min-width: 1024px) {
  .footerWrapper {
    width: 100%;
    height: 10rem;
    .footerLogoWrapper {
      color: #ffffff;
      font-size: 1.2rem;
      width: 35%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 2rem;
      font-weight: 800;
      .footerLogoText {
        margin-left: 3rem;
        line-height: 140%;
      }
    }
    .footerContents {
      width: 65%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 2rem;
      .contentsItem {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        .footerItem {
          margin-right: 2rem;
          line-height: 150%;
          .infoTitle {
            font-weight: 800;
            color: #ffffff;
            font-size: 1.1rem;
          }
          .infoTitleDes {
            margin-top: 0.3rem;
            color: #ffffff;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  .footerCopy {
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: gray;
    background-color: #303243;
    text-align: center;
    // padding: 0.5rem;
    padding-bottom: 0.5rem;
    .businCopy {
      margin-top: 0.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      color: gray;
      background-color: #303243;
      text-align: center;
      display: block;

      span{
        color: rgb(105, 105, 105);
      }
    }
  }
}
// end desktop
