// start common
.footerWrapper {
  width: 100%;
  background-color: #303243;
  display: flex;
  // position: fixed;
  // z-index: 1000;
  // bottom: 0;
  font-family: 'footerFont';
}
// end common

// start mobile
@media all and (min-width: 320px) {
  .footerWrapper {
    width: 100%;
    height: 8rem;
    .footerLogoWrapper {
      color: #ffffff;
      font-size: 0.4rem;
      width: 35%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 0.5rem;
      font-weight: 800;
      .footerLogoText {
        margin-left: 0.2rem;
      }
    }
    .footerContents {
      width: 65%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 0.5rem;
      .contentsItem {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        .footerItem {
          margin-right: 0.5rem;
          color: #ffffff;
          .infoTitle {
            font-weight: 800;
          }
          .infoTitleDes {
            color: #ffffff;
            font-size: 0.005rem;
          }
        }
      }
    }
  }
  .footerCopy {
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.4rem;
    color: gray;
    background-color: #303243;
  }
}
// end mobile

// start tablet
@media all and (min-width: 768px) {
  .footerWrapper {
    width: 100%;
    height: 7rem;
    .footerLogoWrapper {
      color: #ffffff;
      font-size: 0.4rem;
      width: 35%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 0.5rem;
      font-weight: 800;
    }
    .footerContents {
      width: 65%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 0.5rem;
      .contentsItem {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        .footerItem {
          margin-right: 0.5rem;
          color: #ffffff;
          .infoTitle {
            font-weight: 800;
          }
          .infoTitleDes {
            color: #ffffff;
            font-size: 0.005rem;
          }
        }
      }
    }
  }
}
// end tablet

// start desktop
@media all and (min-width: 1024px) {
  .footerWrapper {
    width: 100%;
    height: 10rem;
    .footerLogoWrapper {
      color: #ffffff;
      font-size: 0.8rem;
      width: 35%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 2rem;
      font-weight: 800;
      .footerLogoText {
        margin-left: 3rem;
        line-height: 120%;
      }
    }
    .footerContents {
      width: 65%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 2rem;
      .contentsItem {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        .footerItem {
          margin-right: 2rem;
          color: #ffffff;
          .infoTitle {
            font-weight: 800;
          }
          .infoTitleDes {
            color: #ffffff;
            font-size: 0.005rem;
          }
        }
      }
    }
  }
  .footerCopy {
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: gray;
    background-color: #303243;
  }
}
// end desktop
